<!-- <div data-bs-backdrop="static" class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" (keydown.enter)="confirmation()" >
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark text-white">
        
        <div class="modal-header border-black">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          {{message}}
        </div>
  
        <div class="modal-footer border-black" >
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-warning"
            (click)="confirmation()"
          >
            Aceptar
          </button>
        </div>
        
      </div>
    </div>
  </div> -->

  <!-- Modal -->
<div class="modal fade" [id]="id" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{message}}
        </div>
        <div class="modal-footer border-black" >
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Cancelar
            </button>
            <button type="button" class="btn btn-warning"
              (click)="confirmation()"
            >
              Aceptar
            </button>
          </div>
      </div>
    </div>
  </div>