
    <!-- <div class="titulo text-center">
        <h4>Dog API</h4>
    </div>
    <div class="sideBarTittle ps-0 ps-lg-3 ">
        PERROS
    </div>
    <div class="siderbar" [ngSwitch]="getUrl()">
        <div *ngSwitchCase="'/admin'">
            <div class="sideBarButtomActive" routerLink="/admin">
                LISTA DE PERROS
            </div>
            <div class="sideBarButtom" routerLink="/admin/create" routerLinkActive="active">
                AGREGAR PERRO
            </div>
        </div>
        <div *ngSwitchCase="'/admin/create'">
            <div class="sideBarButtom" routerLink="/admin">
                LISTA DE PERROS
            </div>
            <div class="sideBarButtomActive" routerLink="/admin/create">
                AGREGAR PERRO
            </div>
        </div>
        <div *ngSwitchDefault>
            <div class="sideBarButtom" routerLink="/admin">
                LISTA DE PERROS
            </div>
            <div class="sideBarButtomActive" routerLink="/admin/create">
                AGREGAR PERRO
            </div>
        </div>
    
        <div class="sideBarButtom" routerLink="/auth/login">
            LOGIN
        </div>
    
    </div> -->


 <div class="sidebar vh-100">
    <div class="dogAPI text-center">
        <h4> Dog API</h4>
    </div>
    <div class="perros ps-0 ps-lg-3" >
        PERROS
    </div>

    <div class="" [ngSwitch]="getUrl()">

        <div class="options" *ngSwitchCase="'/admin/list-dogs'">
            <div class="active" routerLink="/admin/list-dogs" routerLinkActive="active">
              LISTA DE PERROS 
            </div>
            <div class="noActive" routerLink="/admin/add-dog" routerLinkActive="active">
                AGREGAR PERRO
            </div>
        </div>

        <div class="options" *ngSwitchCase="'/admin/add-dog'">
            <div class="noActive" routerLink="/admin/list-dogs" routerLinkActive="active">
                LISTA DE PERROS
            </div>
            <div class="active" routerLink="/admin/add-dog" routerLinkActive="active">
                AGREGAR PERRO
            </div>
        </div>

        <div class="options" *ngSwitchCase="'/admin/edit-dog'">
            <div class="noActive" routerLink="/admin/list-dogs" routerLinkActive="active">
                LISTA DE PERROS
            </div>
            <div class="active" routerLink="/admin/add-dog" routerLinkActive="active">
                AGREGAR PERRO
            </div>
        </div>

        <div class="options" *ngSwitchCase="'/admin/dogs-alerts'">
            <div class="noActive" routerLink="/admin/list-dogs" routerLinkActive="active">
                LISTA DE PERROS
            </div>
            <div class="active" routerLink="/admin/add-dog" routerLinkActive="active">
                AGREGAR PERRO
            </div>
        </div>
    </div>
</div> 