<div class="sidebar" style="height: 100%;">
    <div class="dogAPI text-center">
        <h4> Alerta Verde</h4>
    </div>

    <div class="options" >
        <div class="noActive" routerLink="/admin/reports" routerLinkActive="active">
            REPORTES
        </div>
        <div class="noActive" routerLink="/admin/cases" routerLinkActive="active">
            CASOS
        </div>
        <div class="noActive" routerLink="/admin/category" routerLinkActive="active">
            CATEGORÍAS
        </div>
        <div class="noActive" routerLink="/admin/donation" routerLinkActive="active">
            DONACIONES
        </div>
    </div>
</div>