/* .titulo {
    color: rgb(133, 150, 106);
    padding: 10vh 5px;
}

.sideBarButtom {
    background-color: rgb(159, 173, 136);
    min-height: 7vh;
    text-align: center;
    padding-top: 2vh;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.418);
}

.sideBarButtomActive {
    background-color: rgba(253, 253, 253, 0.89);
    min-height: 7vh;
    text-align: center;
    padding-top: 2vh;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.541);
}

.sideBarButtom:hover {
    background-color: rgb(187, 201, 163);
}

.sideBarTittle {
    background-color: rgb(159, 173, 136);
    min-height: 7vh;
    padding-top: 2vh;
    padding-right: 0px;
    color: rgba(0, 0, 0, 0.418);
} */


 .sidebar{
    padding:0px 0px;
    background-color: #EEF2E9;
    margin:0;
    position: fixed;
    height: 100%;
    width: 16%;
}

.dogAPI{
    padding: 10vh 5px;
    color: rgb(171, 209, 171)
}

.perros{
    background:  rgb(188, 199, 171) ;
    min-height: 10vh;
    padding-top: 25px;
    

}

.options{
    background: #EEF2E9;
    text-align: center;

}

.active{
    background: white;
    min-height: 10vh;
    padding-top: 25px;
    cursor: pointer;
}

.noActive{
    min-height: 10vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;
    padding-top: 25px;
}

i{
    color: #96AC78;
    font-size: 26px;
}
