<section id="reports">
    <div class="container">
        <div class="row" style="margin-top: 6%;">
            <div class="col-9 col-lg-10">
                <h5 style="font-weight:normal;">CASOS AMBIENTALES</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-9 col-lg-10">
                <button (click)="show('mapa')" routerLink="/admin/cases" routerLinkActive="active" class="btn btn-sm mapa" >Mapa</button> 
                <button  (click)="show('lista')" routerLink="/admin/cases" routerLinkActive="active" class="btn btn-sm lista">Lista</button>   
                <div class="mt-5">

                        <div *ngIf="showw; then mapa else lista"></div>
                        <ng-template #lista><app-table-cases></app-table-cases></ng-template> 
                        <ng-template #mapa><app-map></app-map></ng-template>
                </div>
            </div>
        </div>
    </div>
</section>