<div class="container-fluid mt-5 mt-xxl-0 footer-xxl" style="background-image: url('../assets/bg-footer.svg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
  <div class="container">
    <div class="row py-5 py-xxl-0">
      <div class="col pt-5 text-center">
        <img src="../assets/brand/iso.svg" alt="" class="img-fluid mt-4" style="max-width: none; width:6.7wv; height: 5.6vh;" >
        <p class="text-muted" style="font-size:2vh">© {{year | date: 'y'}} Alerta Verde. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</div>