<section id="edit-dog">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-9 col-lg-10">
                <div class="row" style="padding-left: 5%;">
                    <div class="col-7 col-lg-9 tittle">
                        <h4 *ngIf="id ===''" style="font-weight:normal;">
                            AGREGAR REPORTE AMBIENTAL
                        </h4>
                        <h4 *ngIf="id !== ''">
                            EDITAR REPORTE AMBIENTAL
                        </h4>
                    </div>
                </div>
                <app-form-edit-report></app-form-edit-report>
            </div>
        </div>
    </div>
</section>
