<div class="container-fluid vh-100" style="background: #EEF2E9!important">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="container-fluid pt-2">
                <div class="alertaAPI text-center pt-3">
                    <img class="img-fluid" style="height: 100px; width: 450px;" src="../../../../assets/icons/logo-icon.svg">
                </div>
                <h1 class="mt-3 mb-5 xs title-screen text-center" style="color: #96AC78;">Bienvenido a Alerta Verde</h1>
                <form [formGroup]="checkoutForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="class">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-9 col-sm-6 col-md-5 col-lg-3">
                                <label for="email" class="fw-bolder">CORREO:</label>
                                <small class="text-danger ml-2"
                                *ngIf="controlIsRequired('email') && loginForm.submitted">
                                (requerido)
                                </small>
                                <input id="email" type="text" class="form-control" 
                                formControlName="email" 
                                placeholder="correo@ejemplo.com"
                                [ngClass]="{ 'is-invalid': controlIsInvalid('email') && loginForm.submitted }"> 
                            </div>
                            
                        </div>
                        <div class="row justify-content-center align-items-center py-3 py-lg-4">
                            <div class="col-9 col-sm-6 col-md-5 col-lg-3">
                                <label for="password" class="fw-bolder">CONTRASEÑA</label>
                                <small class="text-danger ml-2"
                                *ngIf="controlIsRequired('password') && loginForm.submitted">
                                (requerida)
                                </small>
                                <input id="password" type="password" class="form-control"
                                formControlName="password"
                                placeholder="contraseña"
                                [ngClass]="{ 'is-invalid': controlIsInvalid('password') && loginForm.submitted }">
                            </div>
                            <div class="row">
                                <small [routerLink]="['/institution/login/recovery']">Olvidé la contraseña</small>
                            </div>
                        </div>
                    </div>
                    <div class="button-group text-center mt-3 col-12">
                        <button type="submit" class="btn text-center text-white px-5" style="border-radius: 13px;">INICIAR SESIÓN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>