<section id="reports">
    <div class="container">
        <div class="row" style="margin-top: 6%;">
            <div class="col-9 col-lg-10">
                <h5 style="font-weight:normal;">REPORTES AMBIENTALES</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-9 col-lg-10">
                <button class="btn btn-sm mapa" >Mapa</button> 
                <button class="btn btn-sm lista">Lista</button> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <app-table-reports></app-table-reports>
            </div>
            
        </div>

    </div>
</section>