<section id="table-dogs">
    <div class="row">
        <div class="col-12 col-lg-11 ">
            <nav class="navbar navbar-expand-lg navbar-light">
                <form class="container-fluid ps-0 pe-lg-0">
                    <div class="col-11 col-lg-4 py-2 py-lg-0 pe-0">
                        <input class="form-control border-0" list="datalistOptions" #box (keyup)="onValue(box.value)" (keyup.enter)="onEnter(box.value)" id="exampleDataList" placeholder="Buscar categoría" size="80" style="background-color:rgb(234, 238, 226)">
                        <datalist id="datalistOptions" >
                            <option *ngFor="let category of categorysSlice" value="{{category.name}}">
                        </datalist>
                    </div>
                    <div class="col-1 col-lg-3 py-2 py-lg-0 px-0">
                        <button type="button" (click)="searchButton()" class="btn btn-secondary btn1 mx-3 mx-lg-3">
                            <i class="lupa fas fa-search fa-1x "></i>
                        </button>
                    </div>
                    <div id="limpiar" class="col-12 col-sm-4 col-lg-6 text-end">
                        <button type="reset" routerLink="/admin/edit-category" (click)="clearFilter()" class="btn btn-secondary  mx-0 ms-lg-3 my-2 my-lg-0">
                            <i class="far fa-plus-square"></i>
                            Agregar
                        </button>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr class="cabezera">
                            <th width="5%" scope="col-3">NOMBRE</th>
                            <th width="20%"  scope="col-6">DESCRIPCIÓN</th>
                            <th width="10%" style="text-align: center;"scope="col-3 ">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let category of categorysSlice | categoryFilter: filterReport">
                        <tr>
                            <td scope="col-2">{{category.name}}</td>
                            <td scope="col-2">{{category.description}}</td>
                            <td class="btnRight" scope="col-2">
                                <a class="btn rounded-pill editar" [routerLink]="['/admin/edit-category', category._id]">Editar</a>
                                
                                <button class="btn rounded-pill eliminar-table" (click)="categorySelect(category)" type="submit" data-bs-toggle="modal" data-bs-target="#delete">Eliminar </button>
                                <app-modal-delete (idDelete)="deleteItem($event)" [id]="idSelected"></app-modal-delete>   
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid ps-0">
                    <div class="ms-auto p-2 bd-highlight nextPage">
                        Ítems por página:
                        <select id="page" type="number" (change)="sizePage($event)" class="btn btn1 btn-sm">
                            <option selected >7</option>
                            <option type="number" >5</option>
                            <option>4</option>                          
                        </select>
                    </div>
                    <div class="p-0 p-lg-2">
                        <button id="prevButton" type="button" disabled (click)="prevPage()" class="btn btn1 rounded-circle">
                            <i class="fas fa-angle-left"></i>
                        </button> 1 - 4 de 4
                        <button id="nextButton" type="button" (click)="nextPage()" class="btn  btn1 rounded-circle">
                            <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
