<div class="container-fluid" style="background-image: url('../assets/waves/one-wave.svg'); background-position: top; background-size:cover 20px; background-repeat: no-repeat; box-sizing: border-box; margin-bottom: -300px;">
    <div class="container py-5" >
      <div class="row">
        <div class="col-lg-6 pt-sm-5 align-self-center">
          <h5 class="text-brand mb-0 mt-5" style="font-size:14px; font-weight: bold;">ALERTA VERDE APP</h5>
          <h3 class="text-muted text-uppercase font-weight-bold" style="font-weight: bold;">Denuncias ambientales
            en el lugar de los hechos</h3>
          <p class="text-brand lead">Utiliza la cámara de tu teléfono y mediante el gps podrás seleccionar la ubicación
            exacta de tu  denuncia, comenta, comparte y ayudemos a cuidar el planeta.</p>
        </div>
  
        <div class="col-lg-6">
          <img src="../assets/app/home.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
</div>

<div class="container-fluid" style="background-image: url('../assets/waves/second-wave.svg'); background-position:top; background-size:cover; background-repeat: no-repeat; box-sizing: border-box; padding-top: 300px;">
  <div class="container" style="box-sizing: border-box">
    <div class="row pt-5">
      <!-- Se cambio de posición la imagen y el texto (arriba-abajo) para un mejor layout -->
      <div class="col align-self-center mt-4">
          <h4 class="text-brand text-right text-end" style="font-weight: bold;">INTRODUCCIÓN A ALERTA VERDE</h4>
          <p class="lead text-dark text-end">Alerta verde nace gracias al compromiso que debemos tener con nuestro planeta, buscamos generar un cambio para que juntos creemos un a mejor sociedad, más limpia y con más conciencia ambiental. Cuidemos el planeta, ayudemos y enseñemos a las futuras generaciones a cuidar nuestro hogar. </p>
      </div>

      <div class="col-12 pt-4">
        <img src="../assets/app/intro.svg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" style="background-color: #96AC78; margin-top: -3px">  
    <div class="container py-5" >
      <div class="row">
        <div class="col text-center text-white">
          <h3 style="font-weight: bold;">¿CÓMO FUNCIONA?</h3>
          <p class="lead">Nuestra interfaz es sencilla y amigable, en cuatro simples pasos podrás reportar una nueva denuncia</p>
        </div>
      </div>
  
      <div class="row mt-3">
        <div class="col-lg-3 mt-4 text-center">
          <img src="../assets/services/report.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase">Reporta una denuncia</h5>
          <p class="lead" style="color: #676767">Crea una nueva denuncia, especificando un título claro y una categoría acorde.</p>
        </div>
  
        <div class="col-lg-3 mt-5 text-center">
          <img src="../assets/services/location.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase">Indica donde se encuentra</h5>
          <p class="lead" style="color: #676767">Selecciona el punto exacto dentro del mapa en donde se encuentra el hecho que deseas reportar.</p>
        </div>
  
        <div class="col-lg-3 mt-5 text-center">
          <img src="../assets/services/description.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase">Sube una descripción</h5>
          <p class="lead" style="color: #676767">Cuéntanos un poco más sobre el hecho, nos interesa la información con la que cuentas.</p>
        </div>
  
        <div class="col-lg-3 mt-5 text-center">
          <img src="../assets/services/publishes.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase">Publica las fotos</h5>
          <p class="lead" style="color: #676767">Adjunta una imagen clara del hecho para complementar tu denuncia y publícala.</p>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid" style="background-image: url('../assets/bg-carousel.svg'); background-position: inherit; background-size: cover;">
  <div class="containter py-5">
    <div class="row py-5 mb-5">

      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../../assets/carousel/first-image.svg" class="d-none img-fluid m-auto d-sm-block" alt="...">
            <div class="bg-white p-4 justify-content-center d-block d-sm-none" style="border-radius: 20px; height: 55vh;">
              <img src="../../../../assets/carousel/carousel-movil/icon-one.svg" class="d-block img-fluid m-auto d-sm-none" alt="">
              <img src="../../../../assets/carousel/carousel-movil/description-one.svg" class="d-block img-fluid m-auto d-sm-none mt-4" alt="">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../../assets/carousel/second-image.svg" class="d-none img-fluid m-auto d-sm-block" alt="...">
            <div class="bg-white p-4 justify-content-center d-block d-sm-none" style="border-radius: 20px; height: 55vh;">
              <img src="../../../../assets/carousel/carousel-movil/icon-two.svg" class="d-block img-fluid m-auto d-sm-none" alt="">
              <img src="../../../../assets/carousel/carousel-movil/description-two.svg" class="d-block img-fluid m-auto d-sm-none mt-4" alt="">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../../assets/carousel/third-image.svg" class="d-none img-fluid m-auto d-sm-block" alt="...">
            <div class="bg-white p-4 justify-content-center d-block d-sm-none" style="border-radius: 20px; height: 55vh;">
              <img src="../../../../assets/carousel/carousel-movil/icon-three.svg" class="d-block img-fluid m-auto d-sm-none" alt="">
              <img src="../../../../assets/carousel/carousel-movil/description-three.svg" class="d-block img-fluid m-auto d-sm-none mt-4" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  
  <div class="container-fluid">
    <div class="container py-5">
      <div class="row">
        <div class="col-12">
          <img src="../assets/app/screens.svg" alt="" class="img-fluid">
        </div>
  
        <div class="col align-self-center pt-5">
          <h2 class="text-muted text-uppercase text-end last-title">Alerta verde se encuentra en modo de prueba</h2>
          <p class="text-end">Ayúdanos a mejorar este proyecto, tu ayuda es lo que nos motiva a seguir en  marcha y generar un impacto ambiental.</p>
          
          <div class="row">
            <div class="col"> <!-- col-md-8 offset-md-4"-->
              <div class="row justify-content-evenly align-items-center">
                <div class="col col-xs-4  ps-xs-0 pe-xs-3 text-center ">
                  <button class="text-white text-uppercase btn px-5" style="background: #96AC78; border-radius: 12px;" data-toggle="modal" data-target="#exampleModal">Donar</button>
                </div>
                <div class="col col-xs-4 pe-xs-0 ps-xs-3 text-center mt-custom">
                  <button class="text-white text-uppercase btn px-4" style="background: #DDBF8A; border-radius: 12px">Descargar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
