<section id="list-dogs">
    <div class="container-fluid">
        <div class="row vh-100">
            <div id="sidebar" class="col-3 col-lg-2 px-0">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-9 col-lg-10 body">
                <div class="row">
                    <div class="col-6 col-lg-9 tittle">
                        <h4>
                            PERROS
                        </h4>
                    </div>
                </div>
                <app-table-dogs></app-table-dogs>
            </div>
        </div>
    </div>
</section>