<div class="container-fluid" style="background-image: url('../assets/bg.svg'); background-position: inherit; background-size: cover;">
      
  <!-- <div class="d-flex flex-row justify-content-center px-5" style="padding-top: 7%">
    <div class="align-self-center">
      <h5 class="text-brand mb-0 mt-5" style="font-size:14px; font-weight: bold;">ALERTA VERDE APP</h5>
      <h3 class="text-muted text-uppercase font-weight-bold" style="font-weight: bold;">Denuncias ambientales
        en el lugar de los hechos</h3>
      <p class="text-brand lead">Utiliza la cámara de tu teléfono y mediante el gps podrás seleccionar la ubicación
        exacta de tu  denuncia, comenta, comparte y ayudemos a cuidar el planeta.</p>
    </div>

    <div class="align-item-center">
      <img src="../assets/app/home.svg" alt="" class="img-fluid">
    </div>
  </div> -->

  
  <div class="row justify-content-center" style="padding-top:7%">
    <div class="col-lg-5  align-self-end">
      <h5 class="text-brand mb-0 mt-5" style="font-size:1.9vh; font-weight: bold;">ALERTA VERDE APP</h5>
      <h3 class="text-muted text-uppercase font-weight-bold" style="font-weight: bold; font-size: 5vh;">Denuncias ambientales
        en el lugar de los hechos</h3>
      <p class="text-brand lead" style="font-size: 2.5vh;">Utiliza la cámara de tu teléfono y mediante el gps podrás seleccionar la ubicación
        exacta de tu  denuncia, comenta, comparte y ayudemos a cuidar el planeta.</p>
    </div>

    <div class="col-lg-5">
      <img src="../assets/app/home.svg" alt="" class="img-fluid"  style="margin-top: -5%; margin-left:-7% ;height:50vh;  width:50vw; max-width: none;">
    </div>
  </div>


  
  <div class="row justify-content-center" style="padding-top: 2.5%;">
    <div class="col-lg-5 text-center">
      <img src="../assets/app/intro.svg" alt="" class="img-fluid" style="height: 60vh;">
    </div>

    <div class="col-lg-5 align-self-center">
      <h4 class="text-brand text-right text-end" style="font-weight: bold; font-size:3.3vh">INTRODUCCIÓN A ALERTA VERDE</h4>
      <p class="lead text-muted text-end" style="font-size: 2.5vh;">Alerta verde nace gracias al compromiso que debemos tener con nuestro planeta, buscamos generar un cambio para que juntos creemos un a mejor sociedad, más limpia y con más conciencia ambiental. Cuidemos el planeta, ayudemos y enseñemos a las futuras generaciones a cuidar nuestro hogar. </p>
    </div>
  </div>
  



      <div class="row px-5 pt-5">
        <div class="col text-center text-white">
          <h3 style="font-weight: bold; font-size:3.3vh">¿CÓMO FUNCIONA?</h3>
          <p class="lead" style="font-size: 2.5vh;">Nuestra interfaz es sencilla y amigable, en cuatro simples pasos podrás reportar una nueva denuncia</p>
        </div>
      </div>
  
      <div class="row mt-2 px-5 justify-content-center pb-xxl-5">
        <div class="col-lg-3 col-xl-2 text-center">
          <img src="../assets/services/report.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase" style="font-size: 2.5vh;">Reporta una denuncia</h5>
          <p class="lead" style="color: #676767; font-size: 2.5vh;">Crea una nueva denuncia, especificando un título claro y una categoría acorde.</p>
        </div>
  
        <div class="col-lg-3 col-xl-2 text-center">
          <img src="../assets/services/location.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase" style="font-size: 2.5vh;">Indica donde se encuentra</h5>
          <p class="lead" style="color: #676767; font-size: 2.5vh;">Selecciona el punto exacto dentro del mapa en donde se encuentra el hecho que deseas reportar.</p>
        </div>
  
        <div class="col-lg-3 col-xl-2 text-center">
          <img src="../assets/services/description.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase" style="font-size: 2.5vh;">Sube una descripción</h5>
          <p class="lead" style="color: #676767; font-size: 2.5vh;">Cuéntanos un poco más sobre el hecho, nos interesa la información con la que cuentas.</p>
        </div>
  
        <div class="col-lg-3 col-xl-2 text-center">
          <img src="../assets/services/publishes.svg" alt="" class="img-fluid">
          <h5 class="text-brand-secondary mt-2 text-uppercase" style="font-size: 2.5vh;">Publica las fotos</h5>
          <p class="lead" style="color: #676767; font-size: 2.5vh;">Adjunta una imagen clara del hecho para complementar tu denuncia y publícala.</p>
        </div>
      </div>

</div>

  <div class="container-fluid py-xxl-5" style="background-image: url('../assets/bg-carousel.svg'); background-position: inherit; background-size: cover;">
    <div class="containter py-5">
      <div class="row py-5 mb-5">

        <div id="carousel" class="carousel slide py-xxl-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../../assets/carousel/first-image.svg" class="d-block m-auto px-4" alt="..." style="max-width: none; min-height: 35vh; width: 70vw;">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/carousel/second-image.svg" class="d-block m-auto px-4" alt="..." style="max-width: none; min-height: 35vh; width: 70vw;">
            </div>
            <div class="carousel-item">
              <img src="../../../../assets/carousel/third-image.svg" class="d-block m-auto px-4" alt="..." style="max-width: none; min-height: 35vh; width: 70vw;">
            </div>
          </div>
          <button class="carousel-control-prev justify-content-end" type="btn" data-bs-target="#carousel" data-bs-slide="prev" style="border:none; background: none;">
            <img class="w-25"src="../../../../assets/carousel/buttom-left.svg">
          </button>
          <button class="carousel-control-next justify-content-start" type="btn" data-bs-target="#carousel" data-bs-slide="next" style="border:none; background: none;">
            <img class="w-25" src="../../../../assets/carousel/buttom-right.svg">
          </button>
        </div>

      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row justify-content-center pb-xxl-5">
      <div class="col-5 text-center">
        <img src="../assets/app/screens.svg" alt="" class="img-fluid" style="margin-right:-6%;max-width: none; height: 40vh">
      </div>

      <div class="col-5 align-self-center">
        <h2 class="text-muted text-uppercase text-end last-title" style="margin-left:-4%; font-size: 2.5vh;">Alerta verde se encuentra en modo de prueba</h2>
        <p class="text-end" style="font-size: 2.5vh; margin-left:-4%;">Ayúdanos a mejorar este proyecto, tu ayuda es lo que nos motiva a seguir en  marcha y generar un impacto ambiental.</p>
        
        <div class="row">
          <div class="col-8 offset-4">
            <div class="row justify-content-center">
              <div class="col col-lg-6 ps-0 pe-3 text-center">
                <button class="text-white text-uppercase btn px-5" style="background: #96AC78; border-radius: 12px; font-size:2.5vh;" data-toggle="modal" data-target="#exampleModal">Donar</button>
              </div>
              <div class="col col-lg-6 pe-0 ps-4 text-center">
                <button class="text-white text-uppercase btn px-4" style="background: #DDBF8A; border-radius: 12px;font-size:2.5vh;">Descargar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
