<div class="row justify-content-center ">
    <div class="col-12" style="background-color: #CEDADF">
        <div class="container-fluid pt-4 pb-4">
            <form [formGroup]="checkoutForm" #categoryForm="ngForm" (ngSubmit)="saveCategory($event,categoryForm)">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <label for="nameCategory" class="fw-bolder">NOMBRE</label>
                        <input id="nameCategory" type="text" class="form-control" formControlName="name" aria-label="nameCategory">
                        <div id="mensaje">
                            <small id="nameCategory" class="form-text text-muted" *ngIf="categoryForm.submitted && controlIsRequired('name')"> Requerido</small>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-6">
                        <label for="nameDescription" class="fw-bolder">DESCRIPCIÓN</label>
                        <textarea id="nameDescription" type="text" class="form-control" formControlName="description" aria-label="Nombre y Apellido"></textarea>
                        <div id="mensaje">
                            <small id="nameDescription" class="form-text text-muted" *ngIf="categoryForm.submitted && controlIsRequired('description')"> Requerido</small>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-6">
                        <label for="nameDescription" class="fw-bolder">MENSAJE</label>
                        <textarea id="nameDescription" type="text" class="form-control" formControlName="message" aria-label="Nombre y Apellido"></textarea>
                        <div id="mensaje">
                            <small id="nameMessage" class="form-text text-muted" *ngIf="categoryForm.submitted && controlIsRequired('description')"> Requerido</small>
                        </div>
                    </div>
                </div>

                <div class="button-group text-center mt-3">
                    <button class="btn btn-lg btn-danger text-center me-4" (click)="cancel()">Cancelar</button>
                    <button type="submit" class="btn btn-lg save text-center" (click)="enviar()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>