<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Ayudanos en nuestra iniciativa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-brand">Puedes donar a la cuenta de nuestro fundador:</h5>

        <p class="mb-0">Nombre: Alejandro Cubillos</p>
        <p class="mb-0">RUT: 12.382.209-K</p>
        <p class="mb-0">Banco: Banco de Chile</p>
        <p class="mb-0">Tipo de cuenta: Cuenta Corriente</p>
        <p class="mb-0">Nº de cuenta: 00-101-38366-05</p>
      </div>
    </div>
  </div>
</div>