.eliminar-table {
    background: rgb(224, 120, 102);
    color: rgb(236, 233, 233);
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 8px;
    border: none;
}

.btn-eliminar {
    background: rgb(224, 120, 102);
    color: rgb(236, 233, 233);
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 30px;
    border: none;
    cursor: pointer;
}

.btn-cancelar {
    background: rgb(158, 172, 136);
    color: rgb(236, 233, 233);
    padding-left: 3vh;
    padding-right: 3vh;
    margin-right: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    border: none;
}

.btn-cancelar:hover {
    background-color: rgb(183, 194, 166);
}

.btn-eliminar:hover {
    background: rgb(226, 97, 74);
}

.header {
    margin-bottom: 1vh;
}