
.btn-eliminar{
    background: rgb(224, 120, 102);
    color: rgb(236, 233, 233);
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 5vh;
    border:none;
    cursor: pointer;
}

.btn-cancelar{
    background:  rgb(185, 197, 167);
    color: rgb(236, 233, 233);
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 5vh;
    cursor: pointer;
    border:none;
}
.header{
    margin-bottom: 1vh;
}

.shadow {
    box-shadow: 0 2px 4px 0 rgba(34, 33, 33, 0.32), 0 6px 10px 0px rgba(39, 38, 38, 0.32) !important;
  }