<div class="modal fade " id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0" style="background-color:rgb(230, 235, 223) ;">
            <div class="modal-header header">
                <h3 class="modal-title col-12 text-center" style="margin-bottom: 0;" id="exampleModalLabel">¿Estás seguro que deseas eliminar "{{nameDog}}" ?</h3>
            </div>

            <div class="modal-footer justify-content-center" style="padding: 0"> 
                <button type="button" class="btn btn-secondary btn-cancelar shadow" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" (click)="deleteDog(id)" class="btn btn-secondary btn-eliminar shadow" data-bs-dismiss="modal">Si, elimino</button>
            </div>
        </div>
    </div>
</div>