

<div class="row justify-content-start vh-100">
    <div class="col-12">
        <div class="container-fluid pt-4">
            <p class="mt-5 mb-5 xs title-screen">AJUSTES</p>
            <form [formGroup]="checkoutForm" #configForm="ngForm" (ngSubmit)="saveChange($event, configForm)">
                <div class="row">
                    <p class="title py-3 py-lg-0 px-3 px-lg-5 xs"><span>Ubicación</span></p>
                    <div class="col-10 col-sm-4 col-md-6 col-lg-4 py-3 py-lg-0 px-3 px-lg-5 xs">
                        <label for="currentLocationRadius" class="fw-normal">UBICACIÓN ACTUAL (metros)</label>
                        <input id="currentLocationRadius" type="text" class="form-control" formControlName="currentLocationRadius" placeholder="Ingresar radio (ej:20)" aria-label="currentLocationRadius">
                        <div id='mensaje'>
                            <small id="currentLocationRadius" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsRequired('currentLocationRadius')"> Requerido  </small>
                            <small id="currentLocationRadius" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsInvalidPattern('currentLocationRadius')"> Invalido </small>
                        </div>
                    </div>
                    <div class="col-10 col-sm-4 col-md-6 col-lg-4 py-3 py-lg-0 px-3 px-lg-5 xs">
                        <label for="anotherLocationRadius" class="fw-normal">OTRA UBICACIÓN (metros)</label>
                        <input id="anotherLocationRadius" type="text" class="form-control" formControlName="anotherLocationRadius" placeholder="Ingresar radio (ej:20)" aria-label="anotherLocationRadius">
                        <div id='mensaje'>
                            <small id="anotherLocationRadius" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsRequired('anotherLocationRadius')"> Requerido  </small>
                            <small id="anotherLocationRadius" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsInvalidPattern('anotherLocationRadius')"> Invalido </small>
                        </div>
                    </div>
                </div>
                <div class="row py-3 py-lg-5">
                    <p class="title py-3 py-lg-0 px-3 px-lg-5 xs"><span>Denuncias</span></p>
                    <div class="col-10 col-sm-4 col-md-6 col-lg-4 py-3 py-lg-0 px-3 px-lg-5 xs">
                        <label for="minimalChecks" class="fw-normal">COMPROBACIONES MÍNIMAS</label>
                        <input id="minimalChecks" type="text" class="form-control" formControlName="minimalChecks" placeholder="Ingresar radio (ej:20)" aria-label="minimalChecks">
                        <div id='mensaje'>
                            <small id="minimalChecks" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsRequired('minimalChecks')"> Requerido  </small>
                            <small id="minimalChecks" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsInvalidPattern('minimalChecks')"> Invalido </small>
                        </div>
                    </div>
                    <div class="col-10 col-sm-4 col-md-6 col-lg-4 py-3 py-lg-0 px-3 px-lg-5 xs">
                        <label for="minimalRejections" class="fw-normal">RECHAZOS MÍNIMOS</label>
                        <input id="minimalRejections" type="text" class="form-control" formControlName="minimalRejections" placeholder="Ingresar radio (ej:20)" aria-label="minimalRejections">
                        <div id='mensaje'>
                            <small id="minimalRejections" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsRequired('minimalRejections')"> Requerido  </small>
                            <small id="minimalRejections" class="form-text text-muted" *ngIf=" configForm.submitted && controlIsInvalidPattern('minimalRejections')"> Invalido </small>
                        </div>
                    </div>
                </div>
                <div class="row py-3 py-lg-4">
                    <div class="px-3 px-lg-5">
                        <button type="submit" class="btn text-white px-4" style="background-color: rgb(158, 172, 136);"><span>Actualizar</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
