<section id="add-dog">
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-3 col-lg-2 px-0">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-9 col-lg-10">
                <div class="row">
                    <div class="col-6 col-lg-9 tittle">
                        <h4>
                            AGREGAR PERRO
                        </h4>
                    </div>
                </div>
                <app-form-add-dog></app-form-add-dog>
            </div>
        </div>
    </div>
</section>