<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm position-sticky sticky-top">
  <div class="container-fluid">
    <a href="" class="navbar-brand py-3 ps-5">
      <img src="../assets/brand/brand.svg" alt="" style="height:3.3vh">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <form class="d-flex navbar-nav-scroll">
        <a href="mailto:alejandrocubillosreyes@gmail.com" class="btn btn-warning my-2 my-sm-0 me-2" style="font-size: 2.2vh; font-family: 'Roboto Condensed';">Contáctanos</a>
      </form>
    </div>
  </div>
</nav>