<agm-map #gp
style="height: 250px; width: auto;"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [zoom]="zoom"
    [mapDraggable]="false"
    >
    
     <!--[streetViewControl]="false" 
    [zoomControl]="false" 
   (mapClick)="mapClicked($event)">-->
    <agm-marker
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [iconUrl]="url"
      [markerDraggable]="marker.draggable"
      >
      <!--
        (dragEnd)="markerDragEnd(marker, $event)"
          <agm-info-window #infoWindow>
            <p class="bolder text-secondary lead">{{m.cliente}}</p>
            <p><span class="bolder justificar text-secondary">Proyecto: </span>{{m.proyecto}}</p>
            <a href="{{m.url}}" tarjet="_blank">{{m.url}}</a>
        </agm-info-window>-->
    </agm-marker>
    
    <!--<agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle>-->
</agm-map>